header{
    /* background-color: rgb(68, 68, 184); */
}

body{
    background-image: url('https://preview.redd.it/0eq1d3a8d9f61.jpg?width=640&crop=smart&auto=webp&s=07c8bf8471fcb87eee346cb531924c1ce6844fad');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


a{
    text-decoration: none;
    color: green;
}

#about{
    display: block;
    margin-bottom: 10px;
}

.bg-dark{
    background-color: black;
}

.main-form{
    color: red;
}